@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow: hidden;
}
:root{
      --tomato: hsl(4, 100%, 67%);
      --dark-gray :hsl(234, 29%, 20%);
      --Charcoal-gray:hsl(235, 18%, 26%);
      --gray: hsl(231, 7%, 60%);
      --white: hsl(0, 0%, 100%);
}
body{
      background-color: rgb(29, 29, 61);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      font-family: 'Roboto', sans-serif;;
}
main{
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2%;
      gap: 8%;
      border-radius: 20px;
      width: 70%;
}
.left-container h1{
      font-size:3rem;
      margin-bottom: 7%;
}
p{
      font-size: 16px;
      font-weight: 400;
}
.desc{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 6%;
      gap: 4%;
}
i{
      color: var(--white);
      background-color: var(--tomato);
      border-radius: 50px;
      padding: 2%;
}
.form{
      display: flex;
      flex-direction: column;
      margin-top: 10%;
}
.label-container{
      font-weight: 700;
      margin-bottom: 3%;
      display: flex;
      justify-content: space-between;
}
.label-container p{
      color: var(--tomato);
      font-weight: 400;
      opacity: 0;
}
input{
      border: 1.3px solid var(--gray);
      padding: 4%;
      border-radius: 10px;
    
}
.btn-container{
      display: inline-block;
      width: 100%;
      
}
button{
      width: 100%;
      margin-top: 8%;
      padding: 5%;
      border-radius: 5px;
      background-color: var(--dark-gray);
      color: white;
      border: none;
}
